<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active text-white" href="/books/index">Books Index</a></li>
            <li class="nav-item"><a class="nav-link active text-white" href="/books/add">Add Book</a></li>
        </ul>
    </div>
</nav>

