<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("Shared/_Head",{Title}) %>
    </head>
    <body>
        <%- include("Shared/_NavBar") %>
        <main class="container-sm">
            <%if(Payload){%>
                <%- include(`${Controller}/${Action}`,{Payload}) %>
            <%}else{%>
                <%- include(`${Controller}/${Action}`) %>
            <%}%>
        </main>
    </body>
</html>
