<div class="container w-5">
    <form action="/books/add" method="post">
        <label for="title">Book title</label>
        <input type="text" name="title">

        <label for="author">Book author</label>
        <input type="text" name="author" id="">

        <label for="published">Published</label>
        <input type="date" name="published" id="">

        <input type="submit" value="Submit">
    </form>
</div>

